.custom-control-label {
padding-right: 10px;
}

.form-check-inline {
    padding-top: 10px;
    padding-bottom: 20px
}

.rc-slider-dot {
    display: none;
}

.rc-slider-step {
    background: rgb(3,116,0);
    background: linear-gradient(90deg, rgba(3,116,0,1) 0%, rgba(212,255,211,1) 100%);
    height: 8px;
    border-radius: 4px

}

.rc-slider-rail {
    display: none;
}

.rc-slider-handle {
    height: 16px;
    width: 16px;
    background: #007aff;
    border: none;
}

.preferences--time{
    background-color: pink;
}

.preferences--song{
    background-color: green;
}

.searching{
    background-color: blue;
}

.song-result{
    background-color: orange;
}

